<div class="spacer"></div>

<footer>
   <div class="row">
      <div class="large-6 columns">
          <a href="http://uga.us1.list-manage1.com/subscribe?u=72eb6fc6166d9ff12fef55439&id=bc66cb1855" class="button large white-button">Join Our Mailing List</a>
          <p>
              Hosted by the University of Georgia
              <br />
              College of Agricultural &amp; Environmental Sciences
              <br />
              Office of Information Technology
          </p>
      </div>
      <div class="large-6 columns">
          <ul class="footer-icon-list">
              <li><a href="https://www.facebook.com/NETC-National-Extension-Technology-Conference-967732006612491/"><i class="fi-social-facebook"></i><span class="show-for-sr">Facebook</span></a></li>
              <li><a href="https://twitter.com/netcconference"><i class="fi-social-twitter"></i><span class="show-for-sr">Twitter</span></a></li>
              <li><a href="mailto:bwatson@uga.edu,carlam@uga.edu"><i class="fi-mail"></i><span class="show-for-sr">Email</span></a></li>
          </ul>
      </div>
   </div>
</footer>
