// Header Styles
//--------------

header {
    margin-bottom: 4em;
    .logo-row {
        width: 100%;
        background: $header-green;
        align-items: center;
        text-align: center;
        padding: 2em 1em 2em 1em;
        img {
            max-width: 400px;
        }
    }
    .nav-row {
        width: 100%;
        text-align: center;
        padding: 1em;
        background: $dark-header-green;
    }
}

// Navigation
//-----------
nav {
   ul {
       margin: 0 auto 0 auto;
       list-style: none;
       max-width: 780px;
      &:hover > li {
          opacity: 0.4;
      }
      &:hover > li:hover {
          opacity: 1.0;
      }
   }
   ul li {
      display: inline;
      transition: 250ms ease;
   }
   ul li a {
      font-family: $nav-font;
      font-weight: 700;
      text-transform: uppercase;
      font-size: .8rem;
      letter-spacing: 2px;
      color: $white;
      display: inline-block;
      padding: 1em;
      &:hover {
          color: $white;
      }
   }
   .register {
    //   background: $green;
      color: $white;
   }
}
