/*
    File for variables and mixins to be used globally
*/

// Color Variables
$header-green: #6a968a;
$dark-header-green: darken($header-green, 10%);
// $dark-green: #676e5c;
$light-green: #8DC397;
// $green: #4b6c50;
$green: $header-green;
$dark-green: #4b6c50;
$blue: #327c9c;
$dark-blue: darken($blue, 5%);
$light-blue: #8AC8E8;
$dark-red: #aa4b4b;
$red: #c84b4b;
$light-red: #DD7F7F;
$yellow: #cd9848;
$black: #2E2E2E;
$dark-gray: #2e323e;
$brown: #6b4a2d;
$white: #ffffff;

// Typography
@import 'https://fonts.googleapis.com/css?family=Raleway:300,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import url("../fonts/foundation-icons/foundation-icons.css");
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$heading-font: $raleway;
$nav-font: $raleway;
$button-font: $raleway;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: $dark-header-green;
}
// Default Paragraph Styles
p {
    color: $dark-gray;
    font-family: $open-sans;
}
// Default Link Styles
main a {
    color: $dark-header-green;
    text-decoration: underline;
}
// Underline Exceptions
.button, .custom-button, .card-button {
    text-decoration: none;
}

// Button Mixin
//-------------
@mixin buttonColor($bg, $color, $hover-bg, $hover-color) {
   display: block;
   background: $bg;
   color: $color;
   padding: 1em;
   text-align: center;
   font-size: 1em;
   font-family: $button-font;
   font-weight: 700;
   transition: 250ms ease;
   // For Small
   @include breakpoint(small only) {
      font-size: 1rem;
   }
   &:hover {
      background: $hover-bg;
      color: $hover-color;
   }
}

// Custom Button Classes
//---------------------
.green-button {
     @include buttonColor($dark-header-green, $white, darken($dark-header-green, 10%), $white);
}
.white-button {
    @include buttonColor($white, $dark-green, darken($white, 15%), darken($dark-green, 15%));
}
.red-button {
    @include buttonColor($red, $white, darken($red, 15%), $white);
}
.blue-button {
    @include buttonColor($blue, $white, darken($blue, 15%), $white);
}

.half-width {
    width: 50%;
    @include breakpoint(small only) {
        width: 100%;
    }
}

// Section Title Mixin
@mixin sectionText($color) {
   h1 {
      color: $color;
      line-height: 1.1;
      margin-bottom: .5em;
      @include breakpoint(medium only) {
         font-size: 2rem !important;
      }
   }
   h2 {
      font-size: 3rem;
      @include breakpoint(medium only) {
         font-size: 2rem;
      }
      @include breakpoint(small only) {
         font-size: 1.5rem;
      }
      color: $color;
      line-height: 1.1;
      margin-bottom: .5em;
   }
   p {
      margin-top: 1em;
   }
}


// Full Width Sections Mixin
//--------------------------
@mixin fullWidthSection($bg-color, $color) {
    background: $bg-color;
    color: $color;
    width: 100%;
    padding: 3em 1em 3em 1em;
    margin-bottom: 2em;
    h2 {
        color: $color;
    }
    p {
        color: $color;
    }
}

// Class
.full-width-section-red {
    @include fullWidthSection($red, $white);
}

.full-width-section-blue {
    @include fullWidthSection($blue, $white);
    .custom-button {
        @include buttonColor($dark-blue, $white, darken($dark-blue, 10%), $white);
    }
}


// Card Mixin
//-----------
$card-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

@mixin card($highlight-color) {
    box-shadow: $card-box-shadow;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    // display: inline-block;
    margin-bottom: 2em;
    .card-heading {
        padding: 1em;
        height: 4em;
        position: relative;
        .card-circle {
            background: $highlight-color;
            $card-circle-size: 40px;
            width: $card-circle-size;
            height: $card-circle-size;
            -moz-border-radius: $card-circle-size;
            -webkit-border-radius: $card-circle-size;
            border-radius: $card-circle-size;
            float: left;
            margin-right: 1em;
            top: 50%;
            margin-top: calc(1em - 20px);
        }

        .card-title {
            font-weight: bold;
            font-size: .8rem;
        }
        .card-subtitle {
            font-size: .8rem;
        }
    }
    .card-image {

    }
    .card-description {
        strong {
            color: $highlight-color;
            font-family: $raleway;
            font-size: 1.5rem;
        }
        padding: 1em 1em 0 1em;
    }
    .card-button {
        padding: 1em;
        background: $highlight-color;
        color: $white;
        font-weight: bold;
        width: 100%;
        display: block;
        text-align: center;
        transition: 200ms ease;
        &:hover {
            background: darken($highlight-color, 10%);
        }
    }
}

// Card Container & Card Class
.card-container {
    $card-count: 2;
    $card-width: 300px;
    -webkit-column-count: $card-count;
     -moz-column-count: $card-count;
          column-count: $card-count;
  -webkit-column-width: $card-width;
     -moz-column-width: $card-width;
          column-width: $card-width;
    .card {
        @include card($red);
    }
    .card-red {
        @include card($red);
    }
    .card-blue {
        @include card($blue);
    }
    .card-brown {
        @include card($brown);
    }
    .card-yellow {
        @include card($yellow);
    }
    .card-green {
        @include card($green);
    }
}

// Highlight Section
//------------------
@mixin highlightSection($text-color, $panel-color) {
    // background: lighten($light-green, 30%);
    background: $panel-color;
    margin: 1em 0 1em 0;
    padding: 1em;

    // Title
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $text-color;
    }
    // List
    ul {
        color: $text-color;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
        @include breakpoint(small only) {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
        }
    }
}

// Person Contact Card
//--------------------
// @mixin personContactCard {
//
// }
